web/SOAPApi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SOAPApi" targetNamespace="http://http://ebannuities.co.za/" xmlns:tns="http://http://ebannuities.co.za/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://http://ebannuities.co.za/">
      <xsd:complexType name="AnyTypeArray">
        <xsd:sequence>
          <xsd:element name="item" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AnyTypeArrayElement" type="tns:AnyTypeArray"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:portType name="SOAPApiPortType">
    <wsdl:operation name="CreateClient" parameterOrder="token">
      <wsdl:input message="tns:CreateClientRequest"/>
      <wsdl:output message="tns:CreateClientResponse"/>
    </wsdl:operation>
    <wsdl:operation name="ListClients" parameterOrder="token">
      <wsdl:input message="tns:ListClientsRequest"/>
      <wsdl:output message="tns:ListClientsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Authenticate" parameterOrder="token username password">
      <wsdl:input message="tns:AuthenticateRequest"/>
      <wsdl:output message="tns:AuthenticateResponse"/>
    </wsdl:operation>
    <wsdl:operation name="CreateQuote" parameterOrder="token">
      <wsdl:input message="tns:CreateQuoteRequest"/>
      <wsdl:output message="tns:CreateQuoteResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SOAPApiBinding" type="tns:SOAPApiPortType">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CreateClient">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://http://ebannuities.co.za/CreateClient" style="rpc"/>
      <wsdl:input xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="token" use="literal" namespace="http://http://ebannuities.co.za/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="result" use="literal" namespace="http://http://ebannuities.co.za/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ListClients">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://http://ebannuities.co.za/ListClients" style="rpc"/>
      <wsdl:input xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="token" use="literal" namespace="http://http://ebannuities.co.za/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="result" use="literal" namespace="http://http://ebannuities.co.za/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Authenticate">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://http://ebannuities.co.za/Authenticate" style="rpc"/>
      <wsdl:input xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="token username password" use="literal" namespace="http://http://ebannuities.co.za/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="result" use="literal" namespace="http://http://ebannuities.co.za/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CreateQuote">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://http://ebannuities.co.za/CreateQuote" style="rpc"/>
      <wsdl:input xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="token" use="literal" namespace="http://http://ebannuities.co.za/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="result" use="literal" namespace="http://http://ebannuities.co.za/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:message name="CreateClientRequest">
    <wsdl:part name="token" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="CreateClientResponse">
    <wsdl:part name="result" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="ListClientsRequest">
    <wsdl:part name="token" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="ListClientsResponse">
    <wsdl:part name="result" type="tns:AnyTypeArray"/>
  </wsdl:message>
  <wsdl:message name="AuthenticateRequest">
    <wsdl:part name="token" type="xsd:string"/>
    <wsdl:part name="username" type="xsd:string"/>
    <wsdl:part name="password" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="AuthenticateResponse">
    <wsdl:part name="result" type="tns:AnyTypeArray"/>
  </wsdl:message>
  <wsdl:message name="CreateQuoteRequest">
    <wsdl:part name="token" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="CreateQuoteResponse">
    <wsdl:part name="result" type="tns:AnyTypeArray"/>
  </wsdl:message>
  <wsdl:service xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SOAPApiService">
    <wsdl:port xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SOAPApiPort" binding="tns:SOAPApiBinding">
      <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://http://ebannuities.co.za/SOAPApi.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
