web/SOAPApi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="soapApi" targetNamespace="http://www.ebannuities.co.za/" xmlns:tns="http://www.ebannuities.co.za/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ebannuities.co.za/">
      <xsd:complexType name="newClientRequest">
        <xsd:sequence>
          <xsd:element name="first_name" type="xsd:string"/>
          <xsd:element name="last_name" type="xsd:string"/>
          <xsd:element name="email_address" type="xsd:string"/>
          <xsd:element name="id_number" type="xsd:string"/>
          <xsd:element name="gender" type="xsd:int"/>
          <xsd:element name="dob" type="xsd:string"/>
          <xsd:element name="spouse_first_name" type="xsd:string"/>
          <xsd:element name="spouse_last_name" type="xsd:string"/>
          <xsd:element name="spouse_id_number" type="xsd:string"/>
          <xsd:element name="spouse_gender" type="xsd:int"/>
          <xsd:element name="spouse_dob" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="newClientRequestElement" type="tns:newClientRequest"/>
      <xsd:complexType name="AnyTypeArray">
        <xsd:sequence>
          <xsd:element name="item" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AnyTypeArrayElement" type="tns:AnyTypeArray"/>
      <xsd:complexType name="newQuoteResponse">
        <xsd:sequence>
          <xsd:element name="quote_id" type="xsd:int"/>
          <xsd:element name="data_date" type="xsd:string"/>
          <xsd:element name="quote_date" type="xsd:string"/>
          <xsd:element name="commencement_date" type="xsd:string"/>
          <xsd:element name="first_payment_date" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="newQuoteResponseElement" type="tns:newQuoteResponse"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:portType name="soapApiPortType">
    <wsdl:operation name="newClient" parameterOrder="token newClient">
      <wsdl:input message="tns:newClientRequest"/>
      <wsdl:output message="tns:newClientResponse"/>
    </wsdl:operation>
    <wsdl:operation name="listClients" parameterOrder="token">
      <wsdl:input message="tns:listClientsRequest"/>
      <wsdl:output message="tns:listClientsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="newLogin" parameterOrder="token username password">
      <wsdl:input message="tns:newLoginRequest"/>
      <wsdl:output message="tns:newLoginResponse"/>
    </wsdl:operation>
    <wsdl:operation name="newQuote" parameterOrder="token clientId quoteData">
      <wsdl:input message="tns:newQuoteRequest"/>
      <wsdl:output message="tns:newQuoteResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="soapApiBinding" type="tns:soapApiPortType">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="newClient">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://www.ebannuities.co.za/SOAPApi.php/newClient" style="rpc"/>
      <wsdl:input xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="token newClient" use="literal" namespace="http://www.ebannuities.co.za/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="result" use="literal" namespace="http://www.ebannuities.co.za/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="listClients">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://www.ebannuities.co.za/listClients" style="rpc"/>
      <wsdl:input xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="token" use="literal" namespace="http://www.ebannuities.co.za/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="result" use="literal" namespace="http://www.ebannuities.co.za/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="newLogin">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://www.ebannuities.co.za/newLogin" style="rpc"/>
      <wsdl:input xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="token username password" use="literal" namespace="http://www.ebannuities.co.za/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="result" use="literal" namespace="http://www.ebannuities.co.za/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="newQuote">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://www.ebannuities.co.za/newQuote" style="rpc"/>
      <wsdl:input xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="token clientId quoteData" use="literal" namespace="http://www.ebannuities.co.za/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="result" use="literal" namespace="http://www.ebannuities.co.za/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:message name="newClientRequest">
    <wsdl:part name="token" type="xsd:string"/>
    <wsdl:part name="newClient" type="tns:newClientRequest"/>
  </wsdl:message>
  <wsdl:message name="newClientResponse">
    <wsdl:part name="result" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="listClientsRequest">
    <wsdl:part name="token" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="listClientsResponse">
    <wsdl:part name="result" type="tns:AnyTypeArray"/>
  </wsdl:message>
  <wsdl:message name="newLoginRequest">
    <wsdl:part name="token" type="xsd:string"/>
    <wsdl:part name="username" type="xsd:string"/>
    <wsdl:part name="password" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="newLoginResponse">
    <wsdl:part name="result" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="newQuoteRequest">
    <wsdl:part name="token" type="xsd:string"/>
    <wsdl:part name="clientId" type="xsd:string"/>
    <wsdl:part name="quoteData" type="tns:AnyTypeArray"/>
  </wsdl:message>
  <wsdl:message name="newQuoteResponse">
    <wsdl:part name="result" type="tns:newQuoteResponse"/>
  </wsdl:message>
  <wsdl:service xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="soapApiService">
    <wsdl:port xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="soapApiPort" binding="tns:soapApiBinding">
      <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://www.ebannuities.co.za/soapApi.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
